.home {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  padding: 10rem 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.home h1 {
  font-size: 3rem;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.home p {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 300; /* Light font weight for a sleek look */
}

.bio {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 300;
  max-width: 800px; /* Limits the width of the bio for better readability */
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  width: 150px; /* Diameter of the circular image */
  height: 150px; /* Diameter of the circular image */
  border-radius: 50%; /* Creates the circular shape */
  border: 4px solid white; /* Adds a border around the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  object-fit: cover; /* Ensures the image covers the circular area */
  object-position: top; /* Adjusts the image to align the top part */
  margin-bottom: 1rem;
}
