body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

.home-container {
  text-align: center;
  padding: 0 1rem;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background: #ffffff;
  height: 100vh; /* Make sure it covers the full viewport height */
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.text-content {
  max-width: 600px;
  margin-right: 2rem;
  text-align: left;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.bio {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-link {
  color: white;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-link.linkedin {
  background-color: #0077b5;
}

.social-link.facebook {
  background-color: #1877f2;
}

.social-link.twitter {
  background-color: #1da1f2;
}

.image-content {
  display: flex;
  justify-content: center;
}

.profile-pic {
  width: 300px;
  height: auto;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}
