.projects {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

.projects h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #343a40;
}

.projects .card {
  margin-bottom: 2rem;
  border: none;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.projects .card:hover {
  transform: translateY(-10px);
}

.projects .card-body {
  text-align: center;
  flex-grow: 1;
}

.projects .card-title {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #007bff;
}

.projects .card-text {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #6c757d;
}

.projects .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-family: 'Montserrat', sans-serif;
}

.projects .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  font-family: 'Montserrat', sans-serif;
}

.d-flex {
  display: flex !important;
}

.align-items-stretch {
  align-items: stretch !important;
}
.project-img{
  width: 75px;
  margin: 5px;
}
